// Reset Css
@import "Langing page barbearia\cores\cores.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $coresdamarca-normal;
}

button {
  cursor: pointer;
  font-family: "sora", sans-serif;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// Header

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: $Neltra-colors-normal;
}

.header-icones {
  display: flex;
  gap: 1.4rem;
}

.header-icones a:hover {
  i {
    animation: translatey 0.8s infinite alternate;
    color: $vermelho-clara;
  }
}

@keyframes translatey {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.header-botao {
  border: solid 1px $Neltra-colors-normal;
  padding: 0.8rem 2.4rem;
  border-radius: 0.4rem;
  color: $Neltra-colors-normal;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-botao:hover {
  border: solid 1px $vermelho-clara;
  background-color: $vermelho-clara;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}
@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      font-size: 3.4rem;
      margin-top: 1.6rem;
    }
  }

  .header-logo img {
    width: 16rem;
    margin-top: 4.6rem;
  }

  .header-botao {
    display: none;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.8rem;
}

// Bg-home

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(
      to bottom,
      rgba(6, 18, 30, 0.1),
      $coresdamarca-normal
    ),
    url(imagens/bg.svg);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

// Hero

.hero {
  color: #ffffff;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;

  h1 {
    text-align: center;
    line-height: 120%;
    max-width: 940px;
    font-size: 4rem;
  }

  p {
    margin: 1.4rem 0;
    text-align: center;
  }

  .botao-contato {
    padding: 1.1rem 2.5rem;
    color: #ffffff;
    background-color: #d94140;
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1.4rem 0;
  }

  .botao-contato:hover {
    animation: scaleButton 0.8s alternate infinite;
  }

  @keyframes scaleButton {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.07);
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;

    h1 {
      font-size: 2rem;
      padding: 0 1.4rem;
      width: 100%;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

// Sobre

.sobre {
  background-color: $coresdamarca-normal;
  overflow: hidden;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  padding: 3.4rem 1.4rem 6.4rem 1.4rem;

  div {
    flex: 1;
  }

  img {
    max-width: 57rem;
  }

  & .sobre-descrição {
    h2 {
      color: $Neltra-colors-normal;
      font-size: 3.5rem;
      margin-bottom: 2.2rem;
    }

    p {
      color: $Neltra-colors-normal;
      margin-bottom: 1.4rem;
      line-height: 150%;
    }
  }
}

@media screen and (max-width: 768px) {
  .sobre-container {
    flex-direction: column;
  }
}

// Serviços
.serviços {
  background-color: $Neltra-colors-normal;
  color: $Neltra-escura;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.4rem 1.4rem;

  .serviços-container {
    & h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 3.8rem;
      margin-bottom: 1.4rem;
    }
    & p {
      line-height: 150%;
      margin-bottom: 1.4rem;
      text-align: center;
      max-width: 50rem;
    }
  }

  & .cortes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    padding: 0 4.4rem 3.4rem 4.4rem;

    & .corte {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: $Neltra-colors-normal;
      border-radius: 0.8rem;
      box-shadow: 0 -1px 17px -4px rgba(0, 0, 0, 0.45);
      overflow: hidden;

      & img {
        width: 100%;
        max-width: 35.4rem;
        transition: transform 0.5s;
      }

      & img:hover {
        transform: scale(1.2);
        z-index: 1;
      }

      & .info-cortes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem;
        background-color: $Neltra-colors-normal;
        z-index: 2;

        & strong {
          font-weight: 700;
        }

        & a {
          background-color: $vermelho-normal;
          border-radius: 0.3rem;
          border: 0;
          padding: 0.4rem 0.8rem;
          color: $Neltra-colors-normal;
        }

        & strong {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cortes {
    flex-direction: column;

    & .info-cortes {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

// Roda pe

.venha-conhecer {
  background-color: $Neltra-colors-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
}

footer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.4rem 0;

  & strong {
    color: $Neltra-colors-normal;
  }

  & .rodape-icones {
    display: flex;
    gap: 0.8rem;
    color: $Neltra-colors-normal;
  }

  & .rodape-icones a:hover {
    i {
      animation: translatey 0.8s infinite alternate;
      color: $vermelho-clara;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    & strong {
      text-align: center;
    }
  }
}

// Botao whats

.botao-whats {
  position: fixed;
  bottom: 1rem;
  right: 1.3rem;
  z-index: 999;
  img {
    max-width: 4rem;
    cursor: pointer;
    transition: transform 0.5s;
  }

  img:hover {
    animation: translatey 0.8s infinite alternate;
  }

  .dica-botao {
    visibility: hidden;
    position: absolute;
    width: 12rem;
    top: 0.1rem;
    left: -13rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    text-align: center;
    background-color: $Neltra-normal;
    color: $Neltra-colors-normal;
    opacity: 0;
    transition: opacity 0.8s;
  }
}

.botao-whats:hover .dica-botao {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .botao-whats {
    img {
      max-width: 2.6rem;
    }
  }
}
