$coresdamarca-normal: #06121e;
$coresdamarca-2: #040f1a;
$coresdamarca-clara: #0c2135;

$coresdamarca-normal: #090d11;
$coresdamarca-escura: #06090c;
$coresdamarca-clara: #1a1f25;

$Neltra-normal: #232224;
$Neltra-escura: #161617;
$Neltra-clara: #353436;

$Neltra-colors-normal: #ffffff;
$Neltra-colors-escura: #edeadf;
$Neltra-colors-clara: #fefbff;

$vermelho-normal: #d94140;
$vermelho-escura: #b42b2b;
$vermelho-clara: #d34040;
